.ion-ele {
    border-radius: 15px;
    border: 1px solid;
    border-width: thick;
    --background: transparent;
    border: 1px solid;
    margin-bottom: 5px;
}
.to {
	font-size:34px;
	color: var(--btnbg);
}
.welcome {
	position:relative;
	top:30px;
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        color: black;
        margin-top: 60px;
    }
    .forward {
        width: 95%;
        margin: 0 auto;
        margin-top: 26%;
        font-size: 18px;
    }
}

.steps {
    h1 {
        color: black;
        padding-left: 15px;
    }
    p {
        color: #000;
        padding-left: 15px;
        font-size: 24px;
        font-family: lato sans-serif;
    }
    .next {
        width: 95%;
        margin: 0 auto;
        margin-top: 24%;
    }
}