ion-icon[slot="start"] {
    margin-right: unset;
    margin-inline-end: 20px;
}

.signup {
    ion-item {
        --background: transparent;
        border: 1px solid;
        margin-bottom: 5px;
    }
}