<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title">
        <ion-icon name="extension-puzzle-outline"></ion-icon>SignUp</h2>
    <form class="signup" [formGroup]="signUpFormGroup">
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">Select Provider Type</ion-label>
                        <ion-select formControlName="RoleID">
                            <ion-select-option *ngFor="let provider of providerType" value="{{provider.value}}">
                                {{provider.text}}</ion-select-option>
                        </ion-select>
                        <ion-icon name="cog-outline" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted &&  RoleID.errors"><span style="color: red;">*Provider Type Required
                        </span>
                    </small>
                </ion-col>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">Category</ion-label>
                        <ion-input type="text" formControlName="Category" required></ion-input>
                        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
                    </ion-item>

                    <small *ngIf="isFormSubmitted &&  Category.errors"><span style="color: red;">*Category Required
                        </span>
                    </small>
                </ion-col>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">User Name</ion-label>
                        <ion-input type="text" formControlName="ProviderName" required></ion-input>
                        <ion-icon name="person-outline" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted &&  ProviderName.errors"><span style="color: red;">*User Name Required
                        </span>
                    </small>
                </ion-col>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">Mobile Number</ion-label>
                        <ion-input type="number" formControlName="MobileNumber" required></ion-input>
                        <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted &&  MobileNumber.errors"><span style="color: red;">*Mobile Number
                            Required </span>
                    </small>
                </ion-col>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">E-mail Id</ion-label>
                        <ion-input type="text" formControlName="Email" required></ion-input>
                        <ion-icon name="mail-outline" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted &&  Email.errors"><span style="color: red;">*E-mail Required </span>
                    </small>
                </ion-col>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">Password</ion-label>
                        <ion-input type="password" formControlName="Password" required></ion-input>
                        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted &&  Password.errors"><span style="color: red;">*Password Required
                        </span>
                    </small>
                </ion-col>
                <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="3">
                    <ion-item class="ion-ele">
                        <ion-label position="floating">Confirm Password</ion-label>
                        <ion-input type="password" formControlName="confirmPassword" required></ion-input>
                        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                    </ion-item>

                    <small *ngIf="isFormSubmitted &&  confirmPassword.errors"><span style="color: red;">*Confirm
                            Password Required </span>
                    </small>
                    <small *ngIf="signUpFormGroup?.errors?.confirmPassword">
                        <span style="color: red;">*Confirm password does not match </span>
                    </small>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-item style="--background: transparent;" lines="none">
                    <ion-label>I agree to the <a href="javascript:;" (click)="presentAlertTermsConditions()">Terms & Conditions</a>.</ion-label>
                    <ion-checkbox slot="start" style="margin-inline-end:16px;--background: transparent;" [checked]="agreed" ([ngModel])="agreed" name="termsConditions"></ion-checkbox>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3"
                    push-lg="3" size-lg="6">
                    <ion-button type="submit" shape="round" expand="block" (click)="register();"
                        class="ion-margin-bottom">Register</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center" size-md="6" size-xs="12" size-sm="12" push-md="3"
                  push-lg="3" size-lg="6">
                  <a [routerLink]="['/login']" class="small-text">Login</a>&nbsp;&nbsp;
              </ion-col>
          </ion-row>
        </ion-grid>

    </form>
</ion-content>
