.ion-ele {
    border-radius: 15px;
    border: 1px solid;
    border-width: thick;
    --background: transparent;
    border: 1px solid;
    margin-bottom: 5px;
}
 ion-grid {
     --ion-grid-column-padding: 10px;
     border-collapse: collapse;
     border-style: hidden;
     background-color: transparent;
     ion-row:first-child {
         font-weight: bold;
     }
     ion-col {
         border: 1px solid black;
         border-bottom: 0;
         border-right: 0;
     }
     ion-col:last-child {
         border-right: 1px solid black;
     }
     ion-row:last-child {
         border-bottom: 1px solid black;
     }
 }
 
 .table-icons {
     font-size: 24px;
 }