<ion-content class="executive-form ion-padding after-login-bg">
  <ion-row>
    <ion-col size-md="3" size-xs="1" size-sm="1" size-lg="3">
      <ion-icon name="arrow-back-outline" size="large" class="ion-text-left" *ngIf="editExecutive"
        (click)="ionViewDidLeave()"></ion-icon>
    </ion-col>
    <ion-col size-md="6" size-xs="11" size-sm="11" size-lg="6">
      <h2 class="page-title">
        <ion-icon name="dice-outline"></ion-icon>Executive Members
      </h2>
    </ion-col>
    <ion-col class="ion-text-end" size-md="3" size-xs="12" size-sm="12" size-lg="3" *ngIf="!editExecutive">
      <ion-button class="ion-text-right list-button" (click)="add()"
        style="color:#FFF !important;text-decoration: none;">
        <ion-icon name="add-circle-outline" slot="start" color="#FFF"></ion-icon>Add Executive
      </ion-button>
    </ion-col>
  </ion-row>

  <form *ngIf="editExecutive">
    <ion-row>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" required></ion-input>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        </ion-item>        
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">Address</ion-label>
          <ion-textarea required></ion-textarea>
          <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>

      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">City</ion-label>
          <ion-input type="text" required></ion-input>
          <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">State</ion-label>
          <ion-input type="text" required></ion-input>
          <ion-icon name="file-tray-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">Pin Code</ion-label>
          <ion-input type="number" required></ion-input>
          <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input type="number" required></ion-input>
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">User Name</ion-label>
          <ion-input type="text" required></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="text" required></ion-input>
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele" lines="full">
          <ion-label position="floating">ID Number</ion-label>
          <ion-input type="number" required></ion-input>
          <ion-icon name="id-card-outline" slot="start"></ion-icon>
        </ion-item>       
      </ion-col>
      </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3" push-lg="3"
        size-lg="6">
        <ion-button type="submit" shape="round" expand="block" (click)="addExecutive()" class="ion-margin-bottom">
          Add Executive</ion-button>
      </ion-col>
    </ion-row>   
  </form>

  <ion-grid class="executive-members" *ngIf="!editExecutive">
  <ion-row class="ion-text-center">
    <ion-col><b>Name</b></ion-col>
    <ion-col><b>ID Number</b></ion-col>
    <ion-col><b>Phone Number</b></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Ashok</ion-col>
    <ion-col>484561</ion-col>
    <ion-col>9848756895</ion-col>
  </ion-row>
</ion-grid>
</ion-content>