<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title">Service Master</h2>
    <form>
        <ion-item class="ion-ele">
            <ion-label position="floating">Business Type</ion-label>
            <ion-select>
                <ion-select-option value="virtual">Virtual</ion-select-option>
                <ion-select-option value="physicalitems">Physical Items</ion-select-option>
            </ion-select>
            <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Number of Locations</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Business Master Name</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>

        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">E-mail Id</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">TIN/GST Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Owner Id Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Bank Name</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="cash-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Account Holder Name</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Account Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">IFSC Code</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Branch Name</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="" slot="start"></ion-icon>
        </ion-item>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <ion-button type="submit" shape="round" expand="block" class="ion-button ion-margin-bottom">Next</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>