<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="extension-puzzle-outline"></ion-icon>Delivery Fee
  </h2>
  <form class="fee-section ion-margin-bottom">
    <h3 class="ion-text-left">Base Price Per KM</h3>


    <ion-row *ngIf="editPrice">

      <form [formGroup]="basePriceFormGroup">
      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
        <ion-item class="ion-ele">
          <ion-label position="floating">Price Per KM</ion-label>
          <ion-input formControlName="basePrice" type="number"></ion-input>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>

        <small *ngIf="isFormSubmitted &&  basePrice.errors"><span style="color: red;">* Base Price Required
        </span>
        </small>
        <ion-button (click)="basePriceSave()">Save Fee</ion-button>
      </ion-col>
    </form>
    </ion-row>


    <ion-row *ngIf="!editPrice">
      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
        <ion-item class="ion-ele">
          <ion-label position="fixed">Price Per KM : Rs.</ion-label>
          <ion-text></ion-text>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
          <ion-icon name="create-outline" slot="end" (click)="editFee()"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
<!--   
  <form class="fee-section ion-margin-top" style="dispaly:none">
    
    <ion-row *ngIf="editGroupPrice">
      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
        <ion-item class="ion-ele">
          <ion-label>Store Master</ion-label>
          <ionic-selectable searchPlaceholder="Enter Master name" item-content name="storeMaster" 
            [isMultiple]="true" [items]="storeMasters" itemValueField="id" itemTextField="name" [canSearch]="true"
            (onChange)="portChange($event)">
          </ionic-selectable>
        </ion-item>
       
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
        <ion-item class="ion-ele">
          <ion-label position="floating">Price Per KM : Rs.</ion-label>
          <ion-input type="number"></ion-input>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-button (click)="saveGroupFee()">Save Fee</ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!editGroupPrice">
      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
        <ion-item class="ion-ele">
          <ion-label>Store Master</ion-label>
          <ionic-selectable  searchPlaceholder="Enter Master name" item-content name="storeMaster"
             [isMultiple]="true" [items]="storeMasters" itemValueField="id" itemTextField="name"
             [canSearch]="true" (onChange)="portChange($event)">
          </ionic-selectable>
         
        </ion-item>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
        <ion-item class="ion-ele">
          <ion-label position="fixed">Price Per KM : Rs.</ion-label>         
          <ion-input type="number"></ion-input>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
     
        </ion-item>
      </ion-col>


      <ion-col size-md="6" size-xs="12" size-lg="6" size-xl="6">
       
        
       
      </ion-col>

    </ion-row>
    
    <ion-grid *ngIf="selectedStores.length>0" class="store-list-fee">
      <ion-row class="ion-text-center header">
        <ion-col size="4">Store Name</ion-col>
        <ion-col size="4">Fee</ion-col>
        <ion-col size="4">Action</ion-col>
      </ion-row>
      <ion-row *ngFor="let store of selectedStores">
        <ion-col size="4">{{store.name}}</ion-col>
        <ion-col size="4">
          <ion-input type="text" placeholder="Enter Fee" *ngIf="store.edit"></ion-input>
          <ion-text *ngIf="!store.edit">13</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="create-outline" size="large" (click)="storeFeeEdit(store)" *ngIf="!store.edit"></ion-icon>
          <ion-icon name="checkmark-outline" size="large" (click)="storeFeeSave(store)" *ngIf="store.edit"></ion-icon>
        <ion-icon name="trash-outline" size="large" (click)="storeFeeDelete(store)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form> -->
</ion-content>