ion-icon[slot="start"] {
    margin-right: unset;
    margin-inline-end: 20px;
}

.fee-section {
    .ion-ele {
        border-radius: 15px;
        border: 1px solid;
        border-width: thick;
        --background: transparent;
        border: 1px solid;
        margin-bottom: 5px;
    }
}
.readOnlyData {
    pointer-events: none;
}
.store-list-fee {
ion-col{
    border: 1px solid;
    border-collapse: collapse;
    min-width: 100px;
    white-space: break-spaces;
}
.header {
    font-weight: bold;
}
}
.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
    max-height:395px;
    .col-width {
      ion-item {
        --background:transparent;
      }
    }
    .header ion-col, .body ion-col {
        border: 1px solid;
        border-collapse: collapse;
        min-width: 150px;
        white-space: break-spaces;               
    }    
  }
  .header {
    display: flex;
    text-align: center;
    font-weight: bold;
    ion-col {
      padding-top: 15px !important;
    }
  }