<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title">Merchant Master</h2>
  <ion-searchbar  [(ngModel)]="searchMaster" (ionChange)="filterItems()"></ion-searchbar>
  <!-- <ion-icon name="funnel-outline" class="filter"></ion-icon>
  <ion-icon name="caret-up-outline" *ngIf="asc" class="sort" (click)="sorting()"></ion-icon>
  <ion-icon name="caret-down-outline" *ngIf="!asc" class="sort" (click)="sorting()"></ion-icon> -->
  <ion-card *ngFor="let item of masterData" class="accordian">
    <ion-card-header (click)="expandItem(item)">
      <ion-card-title>{{item.master}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-row-expand-store-provider expandHeight="250px" [expanded]="item.expanded">
      </app-row-expand-store-provider>
    </ion-card-content>
  </ion-card>
</ion-content>
