<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title">Merchant Master</h2>
  <ion-searchbar  [(ngModel)]="searchMaster" (ionChange)="filterItems()"></ion-searchbar>
  <ion-grid class="table">
    <ion-row>
      <ion-item class="ion-padding-start">Master Name</ion-item>
    </ion-row>
    <ion-row *ngFor="let item of masterData">
      <ion-item (click)="expandItem(item)" class="ion-no-border">
        <ion-icon slot="start" name="chevron-forward-circle-outline" *ngIf="!item.expanded"></ion-icon>
        <ion-icon slot="start" name="chevron-down-circle-outline" *ngIf="item.expanded"></ion-icon>
        <h5 class="ion-no-border">{{item.name}}</h5>
        </ion-item>
      <app-row-expand-store-provider *ngIf="showStores"  [expanded]="item.expanded"></app-row-expand-store-provider>
    </ion-row>    
  </ion-grid>
</ion-content>

