<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title"> Send Notification</h2>
  <form class="signup" [formGroup]="sendNotificationGroup">
    <ion-item class="ion-ele">
      <ion-label position="floating">Select User Type</ion-label>
      <ion-select formControlName="topic">
          <ion-select-option  *ngFor="let user of userType"  value="{{user.topic}}">{{user.topic}}</ion-select-option>
      </ion-select>
      <!-- <ion-icon name="cog-outline" slot="start"></ion-icon> -->
  </ion-item>
  <small  *ngIf="isFormSubmitted &&  topic.errors"><span style="color: red;" >*Provider Type Required </span>
  </small>
    <ion-item class="ion-ele" lines="full">
      <ion-label position="floating">Notification Title</ion-label>
      <ion-input type="text"  formControlName="title" required></ion-input>
      <!-- <ion-icon name="person-outline" slot="start"></ion-icon> -->
  </ion-item>
  <small  *ngIf="isFormSubmitted &&  title.errors"><span style="color: red;" >*Notification Title Required </span>
  </small>
  <ion-item class="ion-ele" lines="full">
      <ion-label position="floating">Notification Text</ion-label>
      <ion-input type="text"  formControlName="text" required></ion-input>
      <!-- <ion-icon name="lock-closed-outline" slot="start"></ion-icon> -->
  </ion-item>
  <small *ngIf="isFormSubmitted &&  text.errors">  <span style="color: red;" >*Text Required </span>
  </small>
  <ion-row>
    <ion-col class="ion-text-center ion-margin-top">
        <ion-button type="submit" shape="round" expand="block" (click)="validateForm()" class="ion-margin-bottom">Send Notification</ion-button>
    </ion-col>
</ion-row>

</form>
</ion-content>
