<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" *ngIf="menuItems.length>0">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of menuItems;">
                        <ion-item routerDirection="root" (click)="navigatePage(p.id);" lines="none" detail="false"
                            routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>             
            </ion-content>
        </ion-menu>
        <ion-header class="header">
            <ion-toolbar>
                <!-- <ion-buttons slot="start">
                    <ion-back-button defaultHref="login"></ion-back-button>
                </ion-buttons> -->
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                  </ion-buttons>

                <ion-title class="ion-text-center">
                    <ion-img class="app-img" src="../assets/images/logo.jpeg"></ion-img>
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-router-outlet id="main-content"></ion-router-outlet>
        <ion-footer class="footer">
            <ion-img class="menuIcon" src="../assets/images/footer-icon.png"></ion-img>
            <ion-toolbar class="ion-padding-horizontal">
                <ion-icon slot="start" name="return-up-back-outline"></ion-icon>
                <!-- <ion-title class="ion-text-center">
                    <ion-img class="menuIcon" src="../assets/images/footer-icon.png"></ion-img>
                </ion-title> -->
                <ion-icon slot="end" name="return-up-forward-outline"></ion-icon>
            </ion-toolbar>
        </ion-footer>
    </ion-split-pane>
</ion-app>