<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title">Store Information</h2>
	<ion-row *ngIf="!editStore">
		 <ion-col size="8"></ion-col>
		 <ion-col size="4">
		<ion-button *ngIf="!editMaster" type="button" shape="round" class="ion-button" (click)="editStoreInfo()">Add</ion-button>
		</ion-col>
	</ion-row>	
	<ion-grid *ngIf="!editStore">
            <ion-row>
                <ion-col size="3">Action</ion-col>
                <ion-col size="4">Store Name</ion-col>
                <ion-col size="5">Manager Name</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-icon name="trash" class="table-icons" color="danger"></ion-icon>
                    <ion-icon name="create" class="table-icons" (click)="editStoreInfo()"></ion-icon>
                </ion-col>
                <ion-col size="4">Store-1</ion-col>
                <ion-col size="5">Manger-1</ion-col>
            </ion-row>
	</ion-grid>
    <form [formGroup]="singleStoreFormGroup" *ngIf="editStore">

        <ion-item class="ion-ele">
            <ion-label position="floating">Master Store</ion-label>
            <ion-select formControlName="StoreMasterID">
                <ion-select-option value="virtual">Physical</ion-select-option>
                <ion-select-option value="physicalitems">Virtual</ion-select-option>
            </ion-select>
            <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>
        <small  *ngIf="isFormSubmitted &&  StoreMasterID.errors"><span style="color: red;" >*Master Store Required </span>                 
        </small>
        <ion-item class="ion-ele">
            <ion-label position="floating">Store Type</ion-label>
            <ion-select formControlName="StoreType">
                <ion-select-option value="virtual">Physical</ion-select-option>
                <ion-select-option value="physicalitems">Virtual</ion-select-option>
            </ion-select>
            <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>

        <small  *ngIf="isFormSubmitted &&  StoreType.errors"><span style="color: red;" >*Store Type Required </span>                 
        </small>
        <ion-item class="ion-ele">
            <ion-label position="floating">Store Name</ion-label>
            <ion-input type="text" formControlName="Name" required></ion-input>
            <ion-icon name="bag-remove-outline" slot="start"></ion-icon>
        </ion-item>
        <small  *ngIf="isFormSubmitted &&  Name.errors"><span style="color: red;" >*Store Name Required </span>                 
        </small>

        <ion-item class="ion-ele">
            <ion-label position="floating">Store Manager Name</ion-label>
            <ion-input type="text"  formControlName="ManagerName" required></ion-input>
            <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <small  *ngIf="isFormSubmitted &&  ManagerName.errors"><span style="color: red;" >*Manager Name  Required </span>                 
        </small>
        <ion-item class="ion-ele">
            <ion-label position="floating">Manager Id Number</ion-label>
            <ion-input type="number" formControlName="ManagerID" required></ion-input>
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
        </ion-item>

        <small  *ngIf="isFormSubmitted &&  ManagerID.errors"><span style="color: red;" >*Manager ID Required </span>                 
        </small>
        <ion-item class="ion-ele">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="number" formControlName="MobileNmuber" required></ion-input>
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        </ion-item>

        <small  *ngIf="isFormSubmitted &&  MobileNmuber.errors"><span style="color: red;" >*Mobile Nmuber Required </span>                 
        </small>

        <ion-item class="ion-ele">
            <ion-label position="floating">Address</ion-label>
            <ion-textarea formControlName="Address" ></ion-textarea>
            <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        </ion-item>
        <small  *ngIf="isFormSubmitted &&  Address.errors"><span style="color: red;" >*Address Required </span>                 
        </small>

        <ion-item class="ion-ele">
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" formControlName="City" required></ion-input>
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>

        <small  *ngIf="isFormSubmitted &&  City.errors"><span style="color: red;" >*City Required </span>                 
        </small>

        <ion-item class="ion-ele">
            <ion-label position="floating">State</ion-label>
            <ion-input type="text"  formControlName="State" required></ion-input>
            <ion-icon name="file-tray-outline" slot="start"></ion-icon>
        </ion-item>
        <small  *ngIf="isFormSubmitted &&  State.errors"><span style="color: red;" >*State Required </span>                 
        </small>
        <ion-item class="ion-ele">
            <ion-label position="floating">Pin Code</ion-label>
            <ion-input type="number" formControlName="PinCode" required></ion-input>
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>

        <small  *ngIf="isFormSubmitted &&  PinCode.errors"><span style="color: red;" >*PinCode Required </span>                 
        </small>

        <ion-item class="ion-ele">
            <ion-label position="floating">Land Mark</ion-label>
            <ion-textarea formControlName="LandMark" ></ion-textarea>
            <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-item>

        <small  *ngIf="isFormSubmitted &&  LandMark.errors"><span style="color: red;" >*Land Mark Required </span>                 
        </small>

        <ion-item class="ion-ele">
            <ion-label>Timings </ion-label>
            <ion-icon name="time-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label>From:</ion-label>
            <ion-datetime displayFormat="hh:mm A" name="fromDate"></ion-datetime>
            <ion-label>&nbsp;To:</ion-label>
            <ion-datetime displayFormat="hh:mm A"  name="toDate"></ion-datetime>
        </ion-item>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <ion-button type="submit" shape="round" expand="block" (click)="saveStore();" class="ion-margin-bottom ion-button">Add Store</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>