<ion-content [fullscreen]="true" class="after-login-bg">
    <ion-slides pager="true">
        <ion-slide>
            <img src="../../../assets/icon/Ionic1.png">
            <h3>Slide 1</h3>
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/icon/Ionic2.jpg">
            <h3>Slide 2</h3>
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/icon/ionic3.png">
            <h3>Slide 3</h3>
            <ion-button>Getting Started</ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>