<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title" *ngIf="!userName">
        <ion-icon name="extension-puzzle-outline"></ion-icon>Forgot Password ?</h2>
    <h2 class="page-title" *ngIf="userName">
        <ion-icon name="extension-puzzle-outline"></ion-icon>Forgot Username ?</h2>
    <form [formGroup]="forgotForm" >
        <ion-grid>
            <ion-row>
                <ion-col size-md="6" size-xs="12" size-lg="6" push-md="3" push-lg="3">
                    <ion-item lines="full" *ngIf="!userName" class="ion-ele">
                        <ion-label position="floating">UserName/Mobile/Email</ion-label>
                        <ion-input type="text" formControlName="forGotPassword" required></ion-input>
                        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted && !userName&&  forGotPassword.errors"><span style="color: red;">*UserName/Mobile/Email Required </span>
                    </small>
                    <ion-item lines="full" *ngIf="userName" class="ion-ele">
                        <ion-label position="floating">Email/Mobile</ion-label>
                        <ion-input type="text" formControlName="forGotuserName" required></ion-input>
                        <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
                    </ion-item>
                    <small *ngIf="isFormSubmitted && userName && forGotuserName.errors"><span style="color: red;">*Email/Mobile Required </span>
                    </small>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3"
                    push-lg="3" size-lg="6">
                    <ion-button type="submit" shape="round" expand="block" (click)="submit();" class="ion-margin-bottom ion-button">SUBMIT
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3"
                    push-lg="3" size-lg="6">
                    <a [routerLink]="['/login']" class="small-text">Login</a>&nbsp;&nbsp;
                    <a [routerLink]="['/forgot-password']" (click)="setValidations();" *ngIf="userName" class="small-text"
                        [queryParams]="{ userName: false}">Forgot Password?</a>
                    <a [routerLink]="['/forgot-password']" (click)="setValidations();" *ngIf="!userName" class="small-text"
                        [queryParams]="{ userName: true}">Forgot UserName?</a>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3"
                    push-lg="3" size-lg="6">
                        <a [routerLink]="['/signup']" class="small-text ion-margin-bottom">New user ? Register with
                            us!</a>
                    </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>