<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <ion-list class="ion-list-ele">
      <ion-item *ngIf="serviceData.length == 0">
        No Store Data Avilable.
      </ion-item>
    <ion-item *ngFor="let item of serviceData">
        <ion-avatar item-start size="3">
            <img src="assets/default-image.jpg">
        </ion-avatar>
        <ion-col size="7">
            <ion-label>Business Name: <b>{{item.businessName}}</b></ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
          <ion-icon name="alert-circle" class="status" (click)="changeStatus(item)" *ngIf="!item.status"></ion-icon>
          <ion-icon name="checkbox" class="status" (click)="changeStatus(item)" *ngIf="item.status"></ion-icon>
        </ion-col>
    </ion-item>
</ion-list>
</div>