<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="archive-outline"></ion-icon>Product Orders
  </h2>
 
  <ion-searchbar  [(ngModel)]="searchOrder" placeholder="Search By Order Status" (ionChange)="filterItems()"></ion-searchbar>
  <div class="content-section">
    <div direction="x" class="wide-as-needed">
      <ion-grid>
        <div class="header">
          <ion-col class="col-width">Assigned To</ion-col>
          <ion-col>Order Status</ion-col>
          <ion-col>Order Id</ion-col>
          <ion-col>Order Date and Time</ion-col>
          <ion-col>Customer Name</ion-col>
          <ion-col>Customer Mobile Number</ion-col>
          <ion-col>Customer Address</ion-col>
          <ion-col>Store Name</ion-col>
          <ion-col>Store Address</ion-col>
          <ion-col>Store manager Mobile number</ion-col>
          <ion-col>Total Amount</ion-col>
        </div>
        <div style="max-height: 330px;overflow: auto;display: inline-block;">
          <div *ngFor="let order of masterData">
            <div class="body" style="display: flex;">
              <ion-col class="col-width"  >
                <ion-item class="ion-ele" *ngIf="order.assignedTo=='0'">Select Executive                 
                  <ion-select class="assign-orders" (ionChange)="executivesChange($event,order)">
                    <ion-select-option *ngFor="let service of executives" value="{{service.value}}">
                        {{service.text}}</ion-select-option>
                </ion-select>
                </ion-item>

                <ion-item class="ion-ele" *ngIf="order.assignedTo!='0'">                 
                  {{order.assignedTo}}
                </ion-item>

              </ion-col>    
           
              <ion-col (click)="toggle(order)">{{order.deliveryStatus}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.orderID}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.orderDate|date:'dd/MM/yyyy'}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.customer}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.mobileNumber}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.address}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.storeName}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.storeAddress}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.storeManagerMobileNumber}}</ion-col>
              <ion-col (click)="toggle(order)">{{order.totalAmount| currency:'INR'}}</ion-col>
            </div>
            <div class="order-details" *ngIf="order.expand">
              <ion-list class="ion-list-ele">
                <ion-row>
                  <!-- <ion-col size="6" *ngFor="let itm of orderItems">
                    <ion-item>
                      <ion-avatar slot="start">
                        <img src="./assets/images/category.png">
                      </ion-avatar>
                      <ion-label>
                        <ion-row>
                          <ion-col size="3">
                            <h3>Name:{{itm.productName}}</h3>
                          </ion-col>
                          <ion-col size="3">
                            <h3>Count:{{itm.quantity}}</h3>
                          </ion-col>
                          <ion-col size="3">
                            <h3>Price:{{itm.sellingPrice | currency:'INR'}}</h3>
                          </ion-col>
                          <ion-col size="3">
                            <h3>Units:{{itm.units}}</h3>
                          </ion-col>
                        </ion-row>
                      </ion-label>
                    </ion-item>
                  </ion-col> -->

                  <app-store-order-items  *ngIf="showOrdersItems"
                  [orderedItems]="storeOrderedItems" [expanded]="order.expand" >
                </app-store-order-items>
                
                </ion-row>
              </ion-list>
            </div>


         
          </div>
        </div>
      </ion-grid>
    </div>
  </div>
</ion-content>