<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title" >Provider Dashboard</h2>
    <ion-content>
        <!-- <ion-list-header color="light">Vertical Bar Chart</ion-list-header> -->
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>Number of orders per season</ion-card-subtitle>
            <!-- <ion-card-title>Game of Thrones</ion-card-title> -->
          </ion-card-header>
          <ion-card-content>
            <canvas #lineCanvas></canvas>
          </ion-card-content>
        </ion-card>
      </ion-content>
</ion-content>