
<ion-content class="after-login-bg ion-padding">

  <form [formGroup]="stockFormGroup">
    <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">      
        <ion-label position="floating">Available Quantity :{{quantity}}</ion-label>
    </ion-col>
    <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
      <ion-item class="ion-ele">
        <ion-input type="number" formControlName="currentQuantity" required></ion-input>
      </ion-item>  
    </ion-col>
<ion-row>
  <ion-col>
  <ion-button type="submit" (click)="updateStockQuantity();" shape="round" size="medium"
  class="ion-margin-bottom ion-button">Update</ion-button>
</ion-col>
<ion-col>
  <ion-button type="submit" (click)="dismiss();" shape="round" size="medium"
  class="ion-margin-bottom ion-button">Close</ion-button>
</ion-col>
</ion-row>
</form>
</ion-content>

