<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="aperture-outline" slot="start"></ion-icon>Product Orders
  </h2>
  <ion-searchbar [(ngModel)]="searchOrder" placeholder="Search By Delivery Status" (ionChange)="filterItems()"></ion-searchbar>
  <div *ngIf="masterData.length == 0">
    <h6 class="no-records">
      You do not have any orders from customers yet.
      Let Us hope for great business.
    </h6>
    <img class="ion-text-center" src="../assets/images/logo.png">
  </div>

  <div direction="x" class="wide-as-needed">
    <table class="table">
      <tbody>
        <div (click)="expandItem($event, item, i)" *ngFor="let item of masterData;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}">
          <tr>
            <td><b>Order Number:</b></td>
            <td class="label" style="width: 140px;">{{item.orderId}}</td>
            <td><b>Ordered Date:</b></td>
            <td class="label">{{item.orderDate|date:"dd/MM/yy"}}</td>
          </tr>
          <tr>
            <td><b>User Name:</b></td>
            <td class="label">{{item.userName}}</td>
            <td><b>MobileNumber:</b></td>
            <td class="label">{{item.userMobileNumber}}</td>
          </tr>
          <tr>
            <td><b>Order Status:</b></td>
            <td class="label">{{item.orderStatus}}</td>
            <td><b>Store Location:</b></td>
            <td class="label">{{item.storeAddress}}</td>
          </tr>
          <app-store-order-items *ngIf="showStoreOrders && item.expand" [orderDetails]="item" [orderedItems]="storeOrderedItems" [expanded]="item.expand"></app-store-order-items>
        </div>
      </tbody>
    </table>
  </div>
</ion-content>