<ion-content class="after-login-bg ion-padding">
  <ion-row>
    <ion-col size-md="3" size-xs="1" size-sm="1" size-lg="3">
      <ion-icon name="arrow-back-outline" size="large" class="ion-text-left" *ngIf="editProduct"
        (click)="ionViewDidLeave()"></ion-icon>
    </ion-col>
    <ion-col size-md="6" size-xs="11" size-sm="11" size-lg="6">
      <h2 class="page-title">
        <ion-icon name="dice-outline"></ion-icon>Products
      </h2>
    </ion-col>
    <ion-col class="ion-text-end" size-md="3" size-xs="12" size-sm="12" size-lg="3" *ngIf="!editProduct">
      <ion-button class="ion-text-right list-button" (click)="editProductInfo()"
        style="color:#FFF !important;text-decoration: none;">
        <ion-icon name="add-circle-outline" slot="start" color="#FFF"></ion-icon>Add Product
      </ion-button>
    </ion-col>
  </ion-row>

  <form [formGroup]="storeForm">
    <ion-item class="ion-ele sub-store" *ngIf="!editProduct">
      <ion-label position="floating">Select Store</ion-label>
      <ion-select formControlName="SearchStoreId" (ionChange)="changeStore()">
        <ion-select-option *ngFor="let storeItem of stores" value="{{storeItem.value}}">{{storeItem.text}}
        </ion-select-option>
      </ion-select>
      <ion-icon name="funnel-outline" slot="start"></ion-icon>
    </ion-item>
  </form>
  <ion-list class="ion-list-ele" *ngIf="!editProduct && storeProductsData.length > 0">
    <ion-item *ngFor="let product of storeProductsData;">
      <ion-avatar>
        <img  src="{{product.logo}}" *ngIf="product.logo">
        <img src="../../assets/images/default-image.jpg" *ngIf="!product.logo">
      </ion-avatar>
      <ion-col size="7">
        <ion-label>Name: <b>{{ product.productName }}</b></ion-label>
        <ion-label>Category: <b>{{product.category}}</b></ion-label>
      </ion-col>
       <ion-col size="2" class="ion-text-right">
        <ion-icon name="trash-outline" size="large" (click)="presentAlertConfirm(product)"></ion-icon>
      </ion-col>
      <!--<ion-col size="1">
        <ion-icon name="create-outline" size="large" (click)="editProductInfo()"></ion-icon>
      </ion-col> -->
    </ion-item>
  </ion-list>

  <form [formGroup]="storeProductsForm" *ngIf="editProduct">
    <ion-row>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Select Store</ion-label>
          <ion-select formControlName="StoreID">
            <ion-select-option *ngFor="let storeItem of stores" value="{{storeItem.value}}">{{storeItem.text}}
            </ion-select-option>
          </ion-select>
          <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>

        <small *ngIf="isFormSubmitted &&  StoreID.errors"><span style="color: red;">*Store Required </span>
        </small>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Category</ion-label>
          <ion-input type="text" formControlName="Category" required></ion-input>
          <ion-icon name="aperture-outline" slot="start"></ion-icon>
        </ion-item>

        <small *ngIf="isFormSubmitted &&  Category.errors"><span style="color: red;">*Category Required </span>
        </small>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Product name</ion-label>
          <ion-input type="text" formControlName="ProductName" required></ion-input>
          <ion-icon name="apps-outline" slot="start"></ion-icon>
        </ion-item>

        <small *ngIf="isFormSubmitted &&  ProductName.errors"><span style="color: red;">*Product name Required </span>
        </small>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Units</ion-label>
          <ion-select formControlName="Units">
            <ion-select-option value="kilograms">kilograms</ion-select-option>
            <ion-select-option value="grams">grams</ion-select-option>
            <ion-select-option value="litres">Litres</ion-select-option>
            <ion-select-option value="items">Items</ion-select-option>
            <ion-select-option value="ml">ml</ion-select-option>
          </ion-select>
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
        </ion-item>
        <small *ngIf="isFormSubmitted &&  Units.errors"><span style="color: red;">*Units Required </span>
        </small>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Quantity</ion-label>
          <ion-input type="number" formControlName="Quantity" required></ion-input>
          <ion-icon name="basket-outline" slot="start"></ion-icon>
        </ion-item>
        <small *ngIf="isFormSubmitted &&  Quantity.errors"><span style="color: red;">*Quantity Required </span>
        </small>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Select Discount</ion-label>
          <ion-select formControlName="DiscountType">
            <ion-select-option value="percentage">Percentage</ion-select-option>
            <ion-select-option value="rupees">Rupees</ion-select-option>
          </ion-select>
          <ion-icon name="code-outline" slot="start"></ion-icon>
        </ion-item>
        <!-- <small *ngIf="isFormSubmitted &&  DiscountType.errors"><span style="color: red;">*Discount Type Required </span>
        </small> -->
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Discount</ion-label>
          <ion-input type="number" formControlName="Discount" required></ion-input>
          <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        </ion-item>
        <!-- <small *ngIf="isFormSubmitted &&  Discount.errors"><span style="color: red;">*Discount Required </span>
        </small> -->
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Price Before Discount</ion-label>
          <ion-input type="number" formControlName="PriceBeforeDiscount" required></ion-input>
          <ion-icon name="print-outline" slot="start"></ion-icon>
        </ion-item>
        <!-- <small *ngIf="isFormSubmitted &&  PriceBeforeDiscount.errors"><span style="color: red;">*Price Before Discount
            Required </span>
        </small> -->
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
        <ion-item class="ion-ele">
          <ion-label position="floating">Price After Discount</ion-label>
          <ion-input type="number" formControlName="PriceAfterDiscount" required></ion-input>
          <ion-icon name="pricetags-outline" slot="start"></ion-icon>
        </ion-item>
        <small *ngIf="isFormSubmitted &&  PriceAfterDiscount.errors"><span style="color: red;">*Price After Discount
            Required </span>
        </small>
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3" *ngIf="mobileApp">
        <ion-item class="ion-ele">
          <ion-icon name="images-outline" slot="start"></ion-icon>
          <ion-button shape="round" expand="full" size="default" (click)="selectImage();" class="ion-button">
            Select Image</ion-button>
          <ion-label class="ion-text-right" *ngIf="selectedDocs.length != 0">
            <ion-icon name="eye-outline"></ion-icon> {{selectedDocs.length}}
          </ion-label>
        </ion-item>
        <!-- <small *ngIf="isFormSubmitted && selectedDocs.length == 0"><span style="color: red;">*Atleast One Image Required
          </span>
        </small> -->
      </ion-col>
      <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3" *ngIf="!mobileApp">
        <ion-item class="ion-ele">
          <ion-label>Image</ion-label>
          <input type="file" #selectedWebDocs multiple (change)="selectedImgWeb($event)" />
          <ion-icon name="images-outline" slot="start"></ion-icon>
        </ion-item>
        <!-- <small *ngIf="isFormSubmitted && selectedDocs.length == 0"><span style="color: red;">*Atleast One Image Required
          </span>
        </small> -->
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3" push-lg="3"
        size-lg="6">
        <ion-button type="submit" shape="round" expand="block" (click)="addProduct();"
          class="ion-margin-bottom ion-button">Add</ion-button>
      </ion-col>
    </ion-row> -->

    <!-- <ion-grid *ngIf="showTempList">
      <ion-row>
        <ion-col size="3">Action</ion-col>
        <ion-col size="5">Product Name</ion-col>
        <ion-col size="4">Category</ion-col>
      </ion-row>
      <ion-row *ngFor="let product of tempProducts;">
        <ion-col size="3">
          <ion-icon name="trash" (click)="deleteProduct(product);" class="table-icons" color="danger"></ion-icon>
        </ion-col>
        <ion-col size="5" style="font-size: 12px;">{{ product.ProductName }}</ion-col>
        <ion-col size="4" style="font-size: 12px;">{{ product.Category}}</ion-col>
      </ion-row>
    </ion-grid> -->

    <!-- *ngIf="showTempList" -->
    <ion-row>
      <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3" push-lg="3"
        size-lg="6">
        <ion-button type="submit" (click)="uploadProduct();" shape="round" expand="block"
          class="ion-margin-bottom ion-button">Upload</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>