<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <!-- <ion-searchbar  placeholder="Search Stores" [(ngModel)]="searchStore" (ionChange)="filterItems()"></ion-searchbar> -->
  <!-- <ion-grid class="table">
    <ion-row>
      <ion-col size="8" class="ion-text-center">
       Store Name
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        Action
      </ion-col>      
    </ion-row>
    <ion-row *ngFor="let item of storeData">
      <ion-col size="8">{{item.name}}</ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-icon name="alert-circle" (click)="changeStatus(item)" *ngIf="!item.status"></ion-icon>
        <ion-icon name="checkbox" (click)="changeStatus(item)" *ngIf="item.status"></ion-icon>
      </ion-col>      
    </ion-row>    
  </ion-grid> -->

  <ion-list class="ion-list-ele">
    <ion-item *ngFor="let item of storeData">
        <ion-avatar item-start size="3">
            <img src="assets/default-image.jpg">
        </ion-avatar>
        <ion-col size="7">
            <ion-label>Name: <b>{{item.name}}</b></ion-label>
        </ion-col>
        <ion-col size="3" class="ion-text-right">
          <ion-icon name="alert-circle" class="status" (click)="changeStatus(item)" *ngIf="!item.status"></ion-icon>
          <ion-icon name="checkbox" class="status" (click)="changeStatus(item)" *ngIf="item.status"></ion-icon>
        </ion-col>
    </ion-item>
</ion-list>
</div>