<ion-content class="login-form ion-padding after-login-bg">
  <h2 class="page-title">
    <ion-icon name="aperture-outline" slot="start"></ion-icon>Service Orders
  </h2>
  <ion-searchbar [(ngModel)]="searchService" placeholder="Search By Delivery Status" (ionChange)="filterItems()"></ion-searchbar>
  <!-- <ion-list class="ion-list-ele">
    <ion-row (click)="expandItem($event,item)" class="order-status" *ngFor="let item of masterData">
      <ion-col size="6">
        <ion-label>Order Number: <b>{{item.orderId}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Ordered Date: <b>{{item.orderDate|date:"dd/MM/yy"}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>User Name: <b>{{item.userName}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>MobileNumber: <b>{{item.mobileNumber}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Store Location: <b>{{item.address}}</b></ion-label>
      </ion-col>
      <ion-col size="6">
        <ion-label>Delivery Status: <b>{{item.orderStatus}}</b></ion-label>
      </ion-col>
      <app-service-order-items *ngIf="showServiceOrders" 
       [items]="serviceOrderedItems" [expanded]="item.expand"></app-service-order-items>
    </ion-row>
  </ion-list> -->
  <div class="content-section">
    <!-- <div direction="x" class="wide-as-needed">
      <ion-grid>
        <div class="header">
          <ion-col>Order Id</ion-col>
          <ion-col>Order Status</ion-col>
          <ion-col>Order Date and Time</ion-col>
          <ion-col>Customer Name</ion-col>
          <ion-col>Customer Mobile Number</ion-col>
          <ion-col>Customer Address</ion-col>
          <ion-col>Service Provider Name</ion-col>
          <ion-col>Service Provider Address</ion-col>
          <ion-col>Service Manager Mobile number</ion-col>
          <ion-col>Total Amount</ion-col>
        </div>
        <div style="max-height: 330px;overflow: auto;display: inline-block;">
          <div *ngFor="let order of masterData">
            <div class="body" style="display: flex;">
              <ion-col>{{order.orderId}}</ion-col>
              <ion-col>{{order.orderStatus}}</ion-col>
              <ion-col>{{order.orderDate|date:'dd/MM/yyyy'}}</ion-col>
              <ion-col>{{order.userName}}</ion-col>
              <ion-col>{{order.userMobileNumber}}</ion-col>
              <ion-col>{{order.userAddress}}</ion-col>
              <ion-col>{{order.serviceProviderName}}</ion-col>
              <ion-col>{{order.serviceProviderAddress}}</ion-col>
              <ion-col>{{order.serviceProviderMobileNumber}}</ion-col>
              <ion-col>{{order.totalAmount| currency:'INR'}}</ion-col>
            </div>
            <div class="order-details" *ngIf="order.expand">
              <ion-list class="ion-list-ele">
                <ion-row>
                   <app-service-order-items *ngIf="showServiceOrders" 
                  [items]="serviceOrderedItems" [expanded]="item.expand"></app-service-order-items>
                </ion-row>
              </ion-list>
            </div>
          </div>
        </div>
      </ion-grid>
    </div> -->
    <table class="table">
      <tbody>
        <div  (click)="expandItem($event,order, i)" *ngFor="let order of masterData;let i = index;" class="order-status" [ngClass]="{'selected': i == selectedIndex}">
          <tr>
            <td><b>Order Id: </b></td>
            <td> {{order.orderId}}</td>
          </tr>
          <app-service-order-items *ngIf="showServiceOrders && order.expand"  [orderDetails]="order"
          [items]="serviceOrderedItems" [expanded]="order.expand" [condition]="true">
        </app-service-order-items>
        </div>
      </tbody>
    </table>
  </div>
</ion-content>