<ion-content class="ion-padding after-login-bg">
  <h2 class="page-title">Service Master</h2>
  <ion-searchbar placeholder="Search Service Master"  [(ngModel)]="searchMaster" (ionChange)="filterItems()"></ion-searchbar>

  <ion-card *ngFor="let item of masterData" class="accordian">
    <ion-card-header (click)="expandItem(item)">
      <ion-card-title>{{item.master}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-row-expand-service-provider expandHeight="250px" [expanded]="item.expanded">
      </app-row-expand-service-provider>
    </ion-card-content>
  </ion-card>
</ion-content>
