<ion-content class="ion-padding after-login-bg">
    <ion-row>
        <ion-col size-md="3" size-xs="1" size-sm="1" size-lg="3">
            <ion-icon name="arrow-back-outline" size="large" class="ion-text-left" *ngIf="editLocation"
                (click)="ionViewDidLeave()"></ion-icon>
        </ion-col>
        <ion-col size-md="6" size-xs="11" size-sm="11" size-lg="6">
            <h2 class="page-title">
                <ion-icon name="location-outline"></ion-icon>Service Location Information
            </h2>
        </ion-col>
        <ion-col class="ion-text-end" size-md="3" size-xs="12" size-sm="12" size-lg="3" *ngIf="!editLocation">
            <ion-button class="ion-text-right list-button" (click)="editServiceInfo(null)"
                style="color:#FFF !important;text-decoration: none;">
                <ion-icon name="add-circle-outline" slot="start" color="#FFF"></ion-icon>Add New Location
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-list class="ion-list-ele" *ngIf="!editLocation">
        <ion-item *ngFor="let location of providerLocationList;">
            <ion-avatar size="1">
                <img  src="{{location.logo}}" *ngIf="location.logo">
                <img src="../../assets/images/default-image.jpg" *ngIf="!location.logo">
              </ion-avatar>
            <ion-col size="9">
                <ion-label>Business: <b>{{ location.businessName }}</b></ion-label>
                <ion-label>Manager: <b>{{ location.businessManagerName}}</b></ion-label>
            </ion-col>
            <ion-col size="2" class="ion-text-right">
                <ion-icon name="trash-outline" size="large" (click)="presentAlertConfirm(location)"></ion-icon>
            </ion-col>
        </ion-item>
    </ion-list>

    <form *ngIf="editLocation" [formGroup]="serviceLocationForm">
        <ion-row>
            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Master Service</ion-label>
                    <ion-select formControlName="ServiceMasterID">
                        <ion-select-option *ngFor="let service of serviceMaster" value="{{service.value}}">
                            {{service.text}}</ion-select-option>
                    </ion-select>
                    <ion-icon name="cog-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  ServiceMasterID.errors">
                    <span style="color: red;">*Master Service Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Business Type</ion-label>
                    <ion-select formControlName="BusinessType">
                        <ion-select-option *ngFor="let business of businessType" value="{{business.value}}">
                            {{business.text}}</ion-select-option>
                    </ion-select>
                    <ion-icon name="cog-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  BusinessType.errors">
                    <span style="color: red;">*Business Type Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Service Delivery Type</ion-label>
                    <ion-select formControlName="DeliveryType">
                        <ion-select-option *ngFor="let delivery of deliveryType" value="{{delivery.value}}">
                            {{delivery.text}}</ion-select-option>
                    </ion-select>
                    <ion-icon name="cog-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  DeliveryType.errors">
                    <span style="color: red;">*Service Delivery Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Business Name</ion-label>
                    <ion-input type="text" formControlName="BusinessName" required></ion-input>
                    <ion-icon name="bag-remove-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  BusinessName.errors">
                    <span style="color: red;">*Business Name Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Business Manager Name</ion-label>
                    <ion-input type="text" formControlName="BusinessManagerName" required></ion-input>
                    <ion-icon name="person-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  BusinessManagerName.errors">
                    <span style="color: red;">*Business Manager Name Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Manager Id Number</ion-label>
                    <ion-input type="number" formControlName="ManagerID" required></ion-input>
                    <ion-icon name="bookmark-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  ManagerID.errors">
                    <span style="color: red;">*Manager Id Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Mobile Number</ion-label>
                    <ion-input type="number" formControlName="MobileNmuber" required></ion-input>
                    <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  MobileNmuber.errors">
                    <span style="color: red;">*Mobile Nmuber Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Address</ion-label>
                    <ion-textarea formControlName="Address"></ion-textarea>
                    <ion-icon name="chatbox-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  Address.errors">
                    <span style="color: red;">*Address Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">City</ion-label>
                    <ion-input type="text" formControlName="City" required></ion-input>
                    <ion-icon name="diamond-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  City.errors">
                    <span style="color: red;">*City Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">State</ion-label>
                    <ion-input type="text" formControlName="State" required></ion-input>
                    <ion-icon name="file-tray-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  State.errors">
                    <span style="color: red;">*State Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Pin Code</ion-label>
                    <ion-input type="number" formControlName="PinCode" required></ion-input>
                    <ion-icon name="diamond-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  PinCode.errors">
                    <span style="color: red;">*PinCode Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-label position="floating">Land Mark</ion-label>
                    <ion-textarea formControlName="LandMark"></ion-textarea>
                    <ion-icon name="location-outline" slot="start"></ion-icon>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  LandMark.errors">
                    <span style="color: red;">*LandMark Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-icon name="time-outline" slot="start"></ion-icon>
                    <ion-label>From:</ion-label>
                    <ion-datetime formControlName="FromTime" displayFormat="h:mm a"></ion-datetime>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  FromTime.errors">
                    <span style="color: red;">*From Time Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3">
                <ion-item class="ion-ele">
                    <ion-icon name="time-outline" slot="start"></ion-icon>
                    <ion-label>To:</ion-label>
                    <ion-datetime formControlName="ToTime" displayFormat="hh:mm a"></ion-datetime>
                </ion-item>
                <small *ngIf="isFormSubmitted &&  ToTime.errors">
                    <span style="color: red;">*To Time Required </span>
                </small>
            </ion-col>

            <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3" *ngIf="mobileApp">
                <ion-item class="ion-ele">
                  <ion-icon name="images-outline" slot="start"></ion-icon>
                  <ion-button shape="round" expand="full" size="default" (click)="selectImage();" class="ion-button">
                    Select Image</ion-button>
                  <ion-label class="ion-text-right" *ngIf="selectedDocs.length != 0"><ion-icon name="eye-outline"></ion-icon> {{selectedDocs.length}}
                  </ion-label>
                </ion-item>
                <!-- <small *ngIf="isFormSubmitted && selectedDocs.length == 0"><span style="color: red;">*Atleast One Image Required </span>
              </small> -->
              </ion-col>
              <ion-col size-md="6" size-xs="12" size-lg="4" size-xl="3" *ngIf="!mobileApp">
                <ion-item class="ion-ele">
                  <ion-label>Image</ion-label>
                  <input type="file" #selectedWebDocs multiple (change)="selectedImgWeb($event)" />
                  <ion-icon name="images-outline" slot="start"></ion-icon>
                </ion-item>
                <!-- <small *ngIf="isFormSubmitted && selectedDocs.length == 0"><span style="color: red;">*Atleast One Image Required </span>
                </small> -->
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top" size-md="6" size-xs="12" size-sm="12" push-md="3"
                push-lg="4" size-lg="4">
                <ion-button type="submit" shape="round" expand="block" (click)="saveLocation()"
                    class="ion-button ion-margin-bottom">Add Business</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
