<ion-content class="ion-padding after-login-bg">
    <h2 class="page-title">Service Location</h2>
    <ion-row *ngIf="!editService">
		 <ion-col size="8"></ion-col>
		 <ion-col size="4">
		<ion-button *ngIf="!editMaster" type="button" shape="round" class="ion-button" (click)="editServiceInfo()">Add</ion-button>
		</ion-col>
	</ion-row>
	<ion-row *ngIf="!editService">
	 <ion-item class="ion-ele sub-store">
		<ion-label position="floating">Select Service</ion-label>
		<ion-select>
			<ion-select-option value="1">Service-1</ion-select-option>
			<ion-select-option value="2">Service-2</ion-select-option>
		</ion-select>
		<ion-icon name="cog-outline" slot="start"></ion-icon>
     </ion-item>
	</ion-row>
	<ion-grid *ngIf="!editService">
            <ion-row>
                <ion-col size="3">Action</ion-col>
                <ion-col size="4">Service Name</ion-col>
                <ion-col size="5">Manager Name</ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3">
                    <ion-icon name="trash" class="table-icons" color="danger"></ion-icon>
                    <ion-icon name="create" class="table-icons" (click)="editServiceInfo()"></ion-icon>
                </ion-col>
                <ion-col size="4">Service-1</ion-col>
                <ion-col size="5">Manger-1</ion-col>
            </ion-row>
			</ion-grid>
    <form *ngIf="editService">
        <ion-item class="ion-ele">
            <ion-label position="floating">Business Name</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="bag-remove-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Business Manager Name</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="person-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Manager Id Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="bookmark-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="phone-portrait-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Address</ion-label>
            <ion-textarea></ion-textarea>
            <ion-icon name="chatbox-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">State</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="file-tray-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Pin Code</ion-label>
            <ion-input type="text" required></ion-input>
            <ion-icon name="diamond-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Land Mark</ion-label>
            <ion-textarea></ion-textarea>
            <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label>Timings </ion-label>
            <ion-icon name="time-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label>From:</ion-label>
            <ion-datetime displayFormat="h:mm a" [(ngModel)]="fromDate" name="fromDate"></ion-datetime>
            <ion-label>&nbsp;To:</ion-label>
            <ion-datetime displayFormat="h:mm a" [(ngModel)]="toDate" name="toDate"></ion-datetime>
        </ion-item>
        <ion-item class="ion-ele">
            <ion-label position="floating">Service Delivery Type</ion-label>
            <ion-select>
                <ion-select-option value="visitcenter">Visit Center</ion-select-option>
                <ion-select-option value="homeserviceitems">Home Service Items</ion-select-option>
            </ion-select>
            <ion-icon name="cog-outline" slot="start"></ion-icon>
        </ion-item>
        <ion-row>
            <ion-col class="ion-text-center ion-margin-top">
                <ion-button type="submit" shape="round" expand="block" class="ion-button ion-margin-bottom">Add Business</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>