<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <ion-list>
    <p class="ion-text-center" style="margin: auto;">Total Order Value:- <b>{{1500| currency:'INR'}}</b></p>
     <ion-item *ngFor="let itm of  orderedItems">
      <ion-avatar slot="start">
        <img src="{{'../assets/images/dump/'+itm.thumb}}">
      </ion-avatar>
      <ion-label style="white-space: break-spaces;">
        <table class="table">      
          <tbody>
            <tr>
              <td><b>Name:</b></td>
              <td class="label" style="width: 140px;">{{itm.productName}}</td>
              <td><b>Count:</b></td>
              <td class="label">{{itm.quantity}}</td>
            </tr>
            <tr>
              <td><b>Price:</b></td>
              <td class="label">{{itm.sellingPrice | currency:'INR'}}</td>
              <td><b>Units:</b></td>
              <td class="label">{{itm.units}}</td>
            </tr>
            </tbody>
        </table>
      </ion-label>
    </ion-item>   
  </ion-list>
</div>