<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <ion-list>
    <table class="table1" style=" margin-left: 10px;" *ngIf="condition == 'undefined'">
      <tbody>
        <tr>
          <td><b>Ordered Date: </b></td>
          <td> {{orderDetails.orderDate|date:"dd/MM/yy"}}</td>
        </tr>
        <tr>
          <td><b>User Name: </b></td>
          <td> {{orderDetails.userName}}</td>
        </tr>
        <tr>
          <td><b>MobileNumber: </b></td>
          <td> {{orderDetails.userMobileNumber}}</td>
        </tr>
        <tr>
          <td><b>Order Status: </b></td>
          <td> {{orderDetails.orderStatus}}</td>
        </tr>

        <tr *ngIf="orderDetails.executiveName">
          <td><b>Executive Name: </b></td>
          <td> {{orderDetails.executiveName}}</td>
        </tr>
        <tr *ngIf="orderDetails.executiveMobileNumber">
          <td><b>Executive MobileNumber: </b></td>
          <td> {{orderDetails.executiveMobileNumber}}</td>
        </tr>

        <tr>
          <td><b>Store Location: </b></td>
          <td> {{orderDetails.storeAddress}}</td>
        </tr>
        <tr>
          <td><b>Payment Type: </b></td>
          <td> {{orderDetails.paymentType == 1 ? 'Cash On Delivery' : 'Online Payment' }}</td>
        </tr>

        <tr>
          <td><b>Delivery Type: </b></td>
          <td> {{orderDetails.deliveryType == 1 ? 'Self Pickup' : 'Home Delivery'}}</td>
        </tr>
        <tr *ngIf="orderDetails.paymentType == 0">
          <td><b>Transaction Id: </b></td>
          <td> {{orderDetails.transactionId}}</td>
        </tr>
        <tr>
          <td><b>Sub Total: </b></td>
          <td> {{ orderDetails.subTotal | currency:'INR'}}</td>
        </tr>
        <tr *ngIf="orderDetails.deliveryType == 1">
          <td><b>Processing Fee: </b></td>
          <td> {{orderDetails.processingFee | currency:'INR'}}</td>
        </tr>
        <tr *ngIf="orderDetails.deliveryType == 0">
          <td><b>Processing & Delivery Charge: </b></td>
          <td> {{orderDetails.processingFee + orderDetails.deliveryCharge | currency:'INR'}}</td>
        </tr>
        <tr>
          <td><b>Total Order Value: </b></td>
          <td> {{ orderDetails.totalAmount | currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table1" style=" margin-left: 10px;" *ngIf="condition == true">
      <tbody>
        <tr>
          <td><b>Delivery Type: </b></td>
          <td *ngIf="orderDetails.deliveryType == null || orderDetails.deliveryType == 0">Home Delivery</td>
          <td *ngIf="orderDetails.deliveryType == 1">Self Pickup</td>
        </tr>
        <tr>
          <td><b>Order Status: </b></td>
          <td> {{orderDetails.deliveryStatus}}</td>
        </tr>
        <tr>
          <td><b>Order Id: </b></td>
          <td> {{orderDetails.orderID}}</td>
        </tr>
        <tr>
          <td><b>Order Date and Time: </b></td>
          <td> {{orderDetails.orderDate|date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td><b>Customer Name: </b></td>
          <td> {{orderDetails.customer}}</td>
        </tr>
        <tr>
          <td><b>Customer Mobile Number: </b></td>
          <td> {{orderDetails.mobileNumber}}</td>
        </tr>
        <tr>
          <td><b>Customer Address: </b></td>
          <td> {{orderDetails.address}}</td>
        </tr>
        <tr>
          <td><b>Store Name: </b></td>
          <td> {{orderDetails.storeName}}</td>
        </tr>
        <tr>
          <td><b>Store Address: </b></td>
          <td> {{orderDetails.storeAddress}}</td>
        </tr>
        <tr>
          <td><b>Store manager Mobile number: </b></td>
          <td> {{orderDetails.storeManagerMobileNumber}}</td>
        </tr>
        <tr>
          <td><b>Payment Type: </b></td>
          <td *ngIf="orderDetails.paymentType == null || orderDetails.paymentType == 0"> Online Payment</td>
          <td *ngIf="orderDetails.paymentType == 1"> Cash On Delivery</td>
        </tr>
        <tr>
          <td><b>Transaction ID: </b></td>
          <td> {{orderDetails.transactionId}}</td>
        </tr>
        <tr>
          <td><b>Sub Total: </b></td>
          <td> {{orderDetails.subTotal | currency: 'INR'}}</td>
        </tr>
        <tr>
          <td><b>Delivery Charge: </b></td>
          <td *ngIf="orderDetails.deliveryCharge == null"> {{0 | currency: 'INR'}}</td>
          <td *ngIf="orderDetails.deliveryCharge != null"> {{orderDetails.deliveryCharge | currency: 'INR'}}</td>
        </tr>
        <tr>
          <td><b>Processing Fee: </b></td>
          <td *ngIf="orderDetails.processingFee == null"> {{0 | currency: 'INR'}}</td>
          <td *ngIf="orderDetails.processingFee != null"> {{orderDetails.processingFee | currency: 'INR'}}</td>
        </tr>
        <tr>
          <td><b>Total Amount: </b></td>
          <td> {{orderDetails.totalAmount| currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table1" style=" margin-left: 10px;" *ngIf="condition == 'executive'">
      <tbody>
        <tr>
          <td><b>Order Status: </b></td>
          <td> {{orderDetails.deliveryStatus}}</td>
        </tr>
        <tr>
          <td><b>Order Id: </b></td>
          <td> {{orderDetails.orderID}}</td>
        </tr>
        <tr>
          <td><b>Order Date and Time: </b></td>
          <td> {{orderDetails.orderDate|date:'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td><b>Customer Name: </b></td>
          <td> {{orderDetails.customer}}</td>
        </tr>
        <tr>
          <td><b>Customer Mobile Number: </b></td>
          <td> {{orderDetails.mobileNumber}}</td>
        </tr>
        <tr>
          <td><b>Customer Address: </b></td>
          <td> {{orderDetails.address}}</td>
        </tr>
        <tr>
          <td><b>Store Name: </b></td>
          <td> {{orderDetails.storeName}}</td>
        </tr>
        <tr>
          <td><b>Store Address: </b></td>
          <td> {{orderDetails.storeAddress}}</td>
        </tr>
        <tr>
          <td><b>Store manager Mobile number: </b></td>
          <td> {{orderDetails.storeManagerMobileNumber}}</td>
        </tr>
        <tr>
          <td><b>Total Amount: </b></td>
          <td> {{orderDetails.totalAmount| currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>
    <table style="width: -webkit-fill-available;text-align:left;">
      <thead>
        <th></th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let itm of  orderedItems">
          <td>
            <ion-avatar>
              <img class="product-img" src="{{itm.url}}" *ngIf="itm.url">
              <img class="product-img" src="../../assets/images/default-image.jpg" *ngIf="!itm.url">
            </ion-avatar>
          </td>
          <td>{{itm.productName}}</td>
          <td class="label">{{itm.quantity}}</td>
          <td class="label">{{ itm.sellingPrice | currency:'INR'}}</td>
        </tr>
      </tbody>
    </table>

    <!-- <p style="margin: auto;">Payment Type:- <b>{{ orderDetails.paymentType == 1 ? 'Cash On Delivery' : 'Online
            Payment' }}</b></p>
        <p style="margin: auto;">Delivery Type:- <b>{{ orderDetails.deliveryType == 1 ? 'Self Pickup' : 'Home Delivery'
            }}</b></p>
        <p style="margin: auto;" *ngIf="orderDetails.paymentType == 0">Transaction Id:- <b>{{
            orderDetails.transactionId}}</b></p>
        <p style="margin: auto;">Sub Total:- <b>{{ orderDetails.subTotal | currency:'INR'}}</b></p>
        <p style="margin: auto;" *ngIf="orderDetails.deliveryType == 1">Processing Fee:- <b>{{
            orderDetails.processingFee | currency:'INR'}}</b></p>
        <p style="margin: auto;" *ngIf="orderDetails.deliveryType == 0">Processing & Delivery Charge:- <b>{{
            orderDetails.processingFee + orderDetails.deliveryCharge | currency:'INR'}}</b></p>
        <p style="margin: auto;">Total Order Value:- <b>{{ orderDetails.totalAmount | currency:'INR'}}</b></p> -->
    <!-- <ion-item *ngFor="let itm of  orderedItems">
          <ion-avatar slot="start">
            <img src="{{itm.url}}">
          </ion-avatar>
          <ion-label style="white-space: break-spaces;">
            <table class="table">
              <tbody>
                <tr>
                  <td><b>Name:</b></td>
                  <td style="width: 140px;">{{itm.productName}}</td>
                  <td><b>Count:</b></td>
                  <td>{{itm.quantity}}</td>
                </tr>
                <tr>
                  <td><b>Price:</b></td>
                  <td>{{itm.sellingPrice | currency:'INR'}}</td>
                  <td><b>Units:</b></td>
                  <td>{{itm.units}}</td>
                </tr>
              </tbody>
            </table>
          </ion-label>
        </ion-item> -->
  </ion-list>
</div>