<div #expandWrapper class='expand-wrapper' [ngClass]="!expanded ? 'collapsed':'expanded'">
  <ion-list>    
    <p style="margin: auto;">Payment Type:- <b>{{ orderDetails.paymentType == 1 ? 'Cash On Delivery' : 'Online Payment' }}</b></p>
    <p style="margin: auto;">Delivery Type:- <b>{{ orderDetails.deliveryType == 1 ? 'Self Pickup' : 'Home Delivery' }}</b></p>
    <p style="margin: auto;" *ngIf="orderDetails.paymentType == 0">Transaction Id:- <b>{{ orderDetails.transactionId}}</b></p>
    <p style="margin: auto;">Sub Total:- <b>{{ orderDetails.subTotal | currency:'INR'}}</b></p>
    <p style="margin: auto;" *ngIf="orderDetails.deliveryType == 1">Processing Fee:- <b>{{ orderDetails.processingFee | currency:'INR'}}</b></p>
    <p style="margin: auto;" *ngIf="orderDetails.deliveryType == 0">Processing & Delivery Charge:- <b>{{ orderDetails.processingFee + orderDetails.deliveryCharge | currency:'INR'}}</b></p>
    <p style="margin: auto;">Total Order Value:- <b>{{ orderDetails.totalAmount | currency:'INR'}}</b></p>
    <ion-item *ngFor="let itm of  orderedItems">
      <ion-avatar slot="start">
        <img src="{{itm.url}}">
      </ion-avatar>
      <ion-label style="white-space: break-spaces;">
        <table class="table">
          <tbody>
            <tr>
              <td><b>Name:</b></td>
              <td class="label" style="width: 140px;">{{itm.productName}}</td>
              <td><b>Count:</b></td>
              <td class="label">{{itm.quantity}}</td>
            </tr>
            <tr>
              <td><b>Price:</b></td>
              <td class="label">{{itm.sellingPrice | currency:'INR'}}</td>
              <td><b>Units:</b></td>
              <td class="label">{{itm.units}}</td>
            </tr>
          </tbody>
        </table>
      </ion-label>
    </ion-item>
  </ion-list>
</div>